.main-chat
  .main-chat__group-info
    .main-chat__group-info__items__group
      .main-chat__group-info__items__group__name= @group.name
      %ul.main-chat__group-info__items__group__member-list
        Member :
        - @group.users.each do |user|
          %li.main-chat__group-info__items__group__member-list_member= user.name
    = link_to edit_group_path(current_user) do
      Edit
  .main-chat__message-list
    .main-chat__message-list__items__message
      = render @messages
  .main-chat__message-form
    .main-chat__message-form__input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main-chat__message-form__input-box__text', placeholder: 'type a message'
        .main-chat__message-form__input-box__image
          = f.label :image, class: 'main-chat__message-form__input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'main-chat__message-form__input-box__image__file'
        = f.submit 'Send', class: 'main-chat__message-form__input-box__send-btn'

  -# .main-chat__message-form
  -#   %form.main-chat__message-form__input-box
  -#     %input.main-chat__message-form__input-box__text{ :placeholder => "type a message", :type => "text"}
  -#     %label.main-chat__message-form__input-box__image
  -#       %i.far.fa-image
  -#       %input.main-chat__message-form__input-box__image__file{ :type => "file"}
  -#   %input.main-chat__message-form__input-box__send-btn{ :type => "submit", :name => "commit", :value => "Send"}