.side-bar
  .side-bar__user-name
    .side-bar__user-name__items__user
      %p.side-bar__user-name__items__user__name
        = current_user.name
      %ul.side-bar__user-name__items__user__icons
        %li.side-bar__user-name__items__user__icons__new-group
        = link_to new_group_path do
          %i.fa.fa-edit
          %span<>
        %li.side-bar__user-name__items__user__icons__edit-user
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
          %span<>
  .side-bar__group-list
    .side-bar__group-list__items__groups
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。